@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/flatpickr.css';
@import "toastr";
@import 'tailwindcss/utilities';

/* See Alpine.js: https://github.com/alpinejs/alpine#x-cloak */
[x-cloak=""] {
    display: none;
}

@media screen and (max-width: theme('screens.lg')) {
    [x-cloak="lg"] {
        display: none;
    }
}