@import "toastr";
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-align: left;
  padding: 0;
}
* {
  padding: 0;
  margin: 0;
}
body {
  padding: 0 !important;
}
#root {
  padding: 0;
  width: 100%;
  max-width: none;
  margin: 0;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: left;
}
.bread-crumb a:hover {
  color: #c0aa83;
  text-decoration: underline;
}
#modal-root {
  position: fixed;
  top: 0;
  left: 0;
}
.add-product-btn:hover {
  background-color: #c0aa83;
  color: white;
}
label {
  user-select: none;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
@layer base {
  /* body {
    @apply bg-[#141414] text-white !scrollbar-thin !scrollbar-track-transparent !scrollbar-thumb-red-600;
  }
  header {
    @apply fixed top-0 z-50 flex w-full items-center justify-between px-4 py-4 transition-all lg:px-10
    lg:py-6;
  } */
}
@layer components {
  .menu,
  .form-btn,
  .cart-confirm-btn,
  .signin-btn,
  .signup-btn {
    @apply px-4 text-white bg-primary;
  }
  .bg-primary {
    @apply bg-[#c0aa83];
  }
  .border-primary {
    @apply border-[#c0aa83];
  }
  .bg-secondary {
    @apply bg-[#e8e5df];
  }
  .bread-crumb {
  }
}
